{% extends "__layout.twig" %}

{% block content %}
    <h2 class="title_h2" style="color: white; margin-top: 20px;">{{title}}</h2>
    <div>
        <ul class="nav nav-pills">
            <li class="list-group-item">
                <a href="/films-objects/{{ id }}?show=image" class="btn btn-link {{ is_image ? 'btn-primary' }}">Картинка</a>
                <a href="/films-objects/{{ id }}?show=info" class="btn btn-link {{ is_info ? 'btn-primary' }}">Описание</a>
            </li>
        </ul>
    </div>
    {% block objectContent %}
        {% if is_image == true %}
            <img class="image_wrap" src="{{ image }}" alt="">
        {% endif %}

        {% if is_info == true %}
            <div class="text_wrap">{{ info }}</div>
        {% endif %}
    {% endblock %}

{% endblock %}
