{% from "/macros/btn.twig" import btn as btn %}
{% extends "__layout.twig" %}

{% block content %}

<div class="container d-flex" style="margin-top: 20px;">
  {% for object in films_objects %}
    <div class="card" style="width: 18rem; margin: 0.5rem; background-color: #161616;">
      <img class="card-img-top" style="height: 230px; object-fit: cover;" src="{{ object.image }}" alt="Card image cap">
      <div class="card-body">
        <a href="/films-objects/{{ object.id }}" class="btn btn-primary d-flex align-items-center justify-content-center" style="height: 80px; text-align: center; margin: 5px auto; width: 96%;">{{ object.title }}</a>
        <div class="btn-wrap d-flex">
          <a href="/films-objects/{{ object.id }}/image" class="btn btn-link">Картинка</a>
          <a href="/films-objects/{{ object.id }}/info" class="btn btn-link">Описание</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<pre>
  {{ dump(films_objects) }} <!-- добавил вывод данных -->
</pre>

<ul class="list-group" style="margin-top: 25px;">
    {% for item in menu %}
      {% if loop.index0 != 0 %}
        <li class="list-group-item">
        <!--так как item это словарик с двумя ключами, используем их для вывода ссылки -->
          {{ btn(item.title, item.url, true, "info") }}
          {{ btn("Картинка", item.url ~ "/image", false, "primary") }}
          {{ btn("Описание", item.url ~ "/info", false, "primary") }}
        </li>
      {% endif %}
    {% endfor %}
</ul>
{% endblock %}